{% extends 'account/base.html' %}
{% load static %}

{% block title %} Set New Password {% endblock %}

{% block content %}

<!-- Profile Container -->
<div class="container profile-container">
    <div class="profile-header">
        <h3>Set New Password</h3>
        <p></p>
    </div>

    <div class="container">
        {% if messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <div id="form_errors">
                {% for message in messages %}
                <strong> {{message}}</strong>
                {% endfor %}
            </div>
            <button type="buttom" class="close" data-dismiss="alert" arial-label="Close">
            <span arial-hidden="true">&times:</span>
            </button>
        </div>
        {% endif %}
    </div>


    <form method="POST", action="{% url 'setNewPassword' %}">
        {% csrf_token %}
        <!-- Name (Disabled) -->

        <!-- Email (Editable) -->
        <div class="form-group row">
            {% comment %} <label for="email" class="col-sm-3 col-form-label">Email</label> {% endcomment %}
            <div class="col-sm">
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter New Password" required>
                <input type="password" class="form-control" name="confirm_password" id="password" placeholder="Enter New Password" required>
            </div>
        </div>
        <!-- Save Button -->
        <div class="form-group row">
            <div class="col-sm offset-sm">
                <center><button type="submit" class="btn btn-primary">Reset Password</button></center>
            </div>
        </div>
    </form>
</div>

{% endblock %}
